<form action="//linuxdaybarletta.us3.list-manage.com/subscribe/post?u=92c11302a4f6481a7cd4069fa&amp;id=800d7c7d8f" method="post" id="form" name="mc-embedded-subscribe-form" class="validate" target="_blank" autocomplete="on">
	<h2>Iscriviti alla nostra mailing list</h2>
    <div class="form-group">
        <label class="control-label popover-on" for="mce-MAIL" rel="popover" data-trigger="hover" data-original-title="Richiesto" data-content="Potremmo volerti contattare per avvisi o comunicazioni. Assicurati che sia corretto!">Indirizzo email <sup><code>* <span class="info-pop">i</span></code></sup></label>
        <input class="form-control" placeholder="Email" type="email" name="EMAIL" id="mce-EMAIL" required>
    </div>
    <div class="form-group">
        <label class="control-label" for="mce-FNAME">Nome </label>
        <input class="form-control" placeholder="Nome" type="text" name="FNAME" id="mce-FNAME">
    </div>
    <div class="form-group">
        <label class="control-label" for="mce-LNAME">Cognome </label>
        <input class="form-control" placeholder="Cognome" type="text" name="LNAME" id="mce-LNAME">
    </div>
    <div class="form-group">
        <label class="control-label" for="mce-CITY">Comune di provenienza </label>
        <input class="form-control" placeholder="Città" type="text" name="CITY" class="" id="mce-CITY">
    </div>
    <div class="form-group">
        <label class="control-label" for="mce-MEDIUM">Come sei venuto a conoscenza dell'evento? </label>
        <select class="form-control" name="MEDIUM" id="mce-MEDIUM">
            <option value="">Seleziona...</option>
            <option value="Dal sito www.linuxday.it">Dal sito www.linuxday.it</option>
            <option value="Pubblicità cartacea">Pubblicità cartacea</option>
            <option value="Mezzi d'informazione">Mezzi d'informazione</option>
            <option value="Social networks">Social networks</option>
            <option value="Tramite una ricerca online">Tramite una ricerca online</option>
            <option value="Attraverso amici, ne ho sentito parlare in giro">Attraverso amici, ne ho sentito parlare in giro</option>
        </select>
    </div>
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_92c11302a4f6481a7cd4069fa_800d7c7d8f" tabindex="-1" value=""></div>
    <div class="form-group">
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox" name="agree-policy" required> Ho letto ed accetto l'<a href="privacy.html">informativa sulla privacy</a><sup><code>*</code></sup>;
            </label>
        </div>
    </div>
    <div class="form-group">
        <div class="checkbox">
            <label class="control-label">
                <input type="checkbox" name="agree-mailing" required> Acconsento al trattamento dei miei dati per gli scopi descritti nell'<a href="privacy.html">informativa sulla privacy</a><sup><code>*</code></sup>.
            </label>
        </div>
    </div>
    <p><small><code>*</code>: campo richiesto</small></p>
    <button type="submit" name="subscribe" data-loading-text="Attendi..." class="btn btn-lg btn-default" style="margin-top:10px"><b>Invia!</b></button>
</form>
