<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                    <span class="sr-only">Barra navigazione</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand hidden-xs" href="http://www.linuxday.it">{{ site.event_name }}</a>
                <a class="navbar-brand visible-xs" href="http://www.linuxday.it">{{ site.event_name_short }}</a>
            </div>
            <div class="navbar-collapse collapse" id="navbar">
                {% include navbar_list.html %}
                <ul class="nav navbar-nav navbar-right nav-emph">
                    <li>
                        <a class="right-nav" href="http://sondaggi.linuxdaybarletta.it">
                            Sondaggio
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
