<div class="talk" id="{{ include.title | slugify }}">
  <div class="speaker-img">
    <img src="{{ include.img }}" alt="{{ include.speaker }}">
  </div>
  <div class="details">
    <h4>{{ include.time }} - <i>{{ include.title }}</i></h4>
    <p><i>{% if include.speaker_qual %}{{ include.speaker_qual }} {% endif %}{{ include.speaker }}</i></p>
    {{ include.abstract }}
    {% if include.bio %}
    <div class="speaker-bio">
      <h5 class="speaker-bio-title">Chi è {{ include.speaker }}</h5>
      {{ include.bio }}
    </div>
    {% endif %}
  </div>
</div>
