/* Media queries {{{ */

/* Desktop to large desktop */
@media (min-width: 980px) {/*{{{*/
  #fill-contacts {
    top: -15px;
  }
}/*}}}*/
@media (min-width: 980px) and (max-width: 1199px) {/*{{{*/
  hr.linux {
    width: 920px;
  }
}/*}}}*/
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) {/*{{{*/
  body {
    background: url('../textures/grey.png') repeat scroll -1% 0% transparent;
  }
  .wrapper {
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  }
  .jumbotron img {
    height: auto;
    width: auto;
  }
  .top-message > .alert {
    width: 50%;
  }
  .content {
    margin: 0 50px;
  }
  #map-canvas > iframe {
    width: 500px;
    height: 400px;
  }
  .footer .container {
    background:url('../textures/light_wool.png');
    -webkit-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
    box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.05);
  }
  .footer p {
    font-size: 1.1em;
    margin: 30px 30px 20px;
  }
}/*}}}*/
/* landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {/*{{{*/
  .jumbotron img {
    width: auto;
  }
  .top-message > .alert {
    width: 60%;
  }
  .content {
    margin: 0 25px;
  }
  #map-canvas > iframe {
    width: 350px;
    height: 280px;
  }
  .socialwell {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .footer p {
    padding-left: 20px;
    padding-right: 20px;
  }
  h1 {
    font-size: 2.1em;
  }
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-size: 1.6em;
  }
  div.content, .socialwell h4 {
    font-size: 1.1em;
  }
}/*}}}*/
/* Landscape phones and down */
@media (max-width: 480px) {/*{{{*/
  body {
    padding: 0;
  }
  hr.linux {
    background: url('../img/linuxhr-small.png') no-repeat center !important;
  }
  .top-message > .alert {
    width: 80%;
  }
  .content {
    margin: 0 15px;
  }
  #map-canvas > iframe {
    width: 240px;
    height: 192px;
  }
  .socialwell {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }
  .footer p {
    padding-left: 10px;
    padding-right: 10px;
  }
  h1 {
    font-size: 2em;
  }
  h2 {
    font-size: 1.8em;
  }
  h3 {
    font-size: 1.5em;
  }
  div.content, .socialwell h4 {
    font-size: 1em;
  }
}/*}}}*/
/*}}}*/

/* Global settings {{{ */
body {
  overflow-y: scroll;
}
h1, h2, h3 {
  line-height: 40px;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}
img {
  max-width: 100%;
}
.container {
  margin: 0 auto;
  padding-left: 0;
  padding-right: 0;
}
hr {
  margin: 40px auto;
}
.container > hr {
  margin: 30px auto;
}
.jumbotron {
  text-align: center;
  padding: 50px 5% 0 !important;
  margin: 50px auto 40px;
}
.jumbotron img {
  margin-left: auto;
  margin-right: auto;
}
hr.linux {
  height: 30px;
  background: url('../img/linuxhr.png') no-repeat center;
  clear: both;
  border: none;
  outline: 0;
}
.content {
  font-size: 1.3em;
  text-align: justify;
  line-height: 1.4em;
  margin-bottom: 50px;
}
.content img.pull-left {
  margin: 20px 30px 20px auto;
}
.content img.pull-right {
  margin: 20px auto 20px 30px;
}
li {
  line-height: 1.4em;
}
.list-unstyled {
  padding-left: 25px;
}
.top-message {
  position: fixed;
  left: 0;
  right: 0;
  top: 60px;
  z-index: 0;
  z-index: 10000000;
}
.top-message > .alert {
  font-size: 135%;
  line-height: 1.4em;
  max-width: 768px;
  position: relative;
  margin: 0 auto;
  text-align: left;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.25);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.25);
  box-shadow: 0 0 5px rgba(0,0,0,.25);
}
.ampersat {
  font-family: arial, sans-serif;
}
.grayed-out * {
  color: #999 !important;
  background: none;
}
.panel {
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
form {
  text-align: left;
  font-size: 90%;
}
.popover {
  font-size: 80%;
}
#fill-contacts {
  margin-top: 0;
  margin-bottom: 0;
  position: relative;
  font-size: 120%;
}
#map-canvas {
  text-align: center;
}
#map-canvas > iframe {
  border: 0;
  margin: 40px auto auto;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,0.3);
  box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
#callmlsnd {
  text-align: center;
  clear: both;
  margin-top: 40px;
  margin-bottom: 60px;
}
.socialwell {
  padding: 10px 19px 19px;
  min-height: 20px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  text-align: center;
  background: url('../textures/subtle_freckles.png') repeat scroll 0% 0% transparent;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
  -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.05) inset;
}
.followbuttons div {
  margin: auto 10px;
}
.sharebuttons {
  margin-top: 20px;
}
.recommendbuttons {
  margin-top: 10px;
}
.recommendbuttons div {
  margin: auto 10px;
}
.fb-follow {
  top: -4px;
}
.event-outline {
  margin-top: 45px;
  margin-bottom: 45px;
}
.anchor {
  margin-top: -20px;
  padding-top: 20px;
  display: block;
}
.speaker-img {
  float: left;
  margin-right: 15px;
  margin-bottom: 5px;
}
.details {
  min-height: 80px;
  margin-left: 3;
}
.speaker-img img {
  border-radius: 100%;
  border: 3px solid white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  margin-top: -5px;
}
h5.speaker-bio-title {
  margin-top: 20px;
}
.speaker-bio {
  font-size: 0.8em;
}
.table-scrollable {
  display: block;
  overflow-x: auto;
}
/*}}}*/

/* Navbar {{{ */
/* Override border radius */
.navbar {
  -moz-border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  border-radius: 0 0 4px 4px;
}
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  margin-top: 0;
}

/* Remove border and change up box shadow for more contrast */
.navbar {
  border: 0;
  -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
  box-shadow: 0 2px 5px rgba(0,0,0,.25);
}

/* Downsize the brand/project name a bit */
.navbar-header .navbar-brand {
  padding: 14px 20px 16px; /* Increase vertical padding to match navbar links */
  font-size: 18px;
}

/* Navbar links: increase padding for taller navbar */
.navbar .nav > li > a {
  padding: 15px 20px;
}

/* Offset the responsive button for proper vertical alignment */
.navbar .navbar-toggle {
  margin-top: 10px;
}
/*}}}*/

/* Sticky footer {{{ */
html, body {
  height: 100%;
}
.wrapper {
  background: white;
  min-height: 100%;
}
/*.content {padding-bottom:30px !important }*/
.pushdown {
  overflow:auto;
  padding-bottom: 71px;
}  /* must be same height as the footer */

.footer {
  z-index: 1000000;
  position: relative;
  margin-top: -70px !important; /* negative value of footer height */
  height: 70px;
  clear:both;
}
.footer p {
  margin-top: 25px;
}
.footer .container {
  border-top: 1px solid #eee;
  height: 100%;
}
.nav-emph a {
  color: #a94442 !important;
}
.nav-emph a:hover, .nav-emph a:active {
  color: #a94442 !important;
  text-shadow: 0 0 1px #a94442;
}
/*Opera Fix*/
body:before {
  content: '';
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;/
}
/*}}}*/
