---
layout: compress
---
<!DOCTYPE html>
<!-- vim: set foldmarker=[[[,]]] foldmethod=marker : -->
<html lang="it">
    <!-- head [[[ -->
    <head>
    {% include head.html %}
    </head>
    <!-- /head ]]] -->
    <!-- body [[[ -->
    <body>
        {% if site.topalert or page.topalert %}{% include masteralert.html %}{% endif %}
        <!-- wrapper [[[ -->
        <div class="wrapper container">
            <!-- jumbotron [[[ -->
            <div class="jumbotron">
                {% for image in page.jumboimages %}
                    {% if forloop.length == 1 %}
                        {% assign class = '' %}
                    {% else %}
                        {% capture class %}class={% cycle 'visible-lg visible-md', 'visible-sm', 'visible-xs' %}{% endcapture %}
                    {% endif %}
                    <a href="{{ page.jumbolink }}"><img {{ class }} src="assets/img/{{ image }}" alt="{{ site.name }} - {{ page.title }}"></a>
                {% endfor %}
            </div>
            <!-- /jumbotron ]]] -->
            <hr class="linux">
            <!-- content [[[ -->
            <div class="content">
                {{ content }}
                {% if site.timestamp or page.timestamp %}
                    <hr>
                    <p class="grayed-out text-right">
                        <small>{{ site.last_update_text }}
                            <code>
                                {{ site.time | date: "%d/%m/%Y - %H:%M"}}
                            </code>
                        </small>
                    </p>
                {% endif %}
            </div>
            <!-- /content ]]] -->
            <!-- socialwell [[[ -->
            {% if page.share or page.follow %}
                {% include social.html %}
            {% endif %}
            <!-- /socialwell ]]] -->
            <div class="pushdown"></div>
        </div>
        <!-- /wrapper ]]] -->
        <!-- footer [[[ -->
        {% include footer.html %}
        <!-- /footer ]]] -->
        <!-- navbar [[[ -->
        {% include navbar.html %}
        <!-- /navbar ]]] -->
        <!-- scripts [[[ -->
        {% include scripts.html %}
        <!-- /scripts ]]] -->
    </body>
    <!-- /body ]]] -->
</html>
